page-mapmodal {

#map{
    height: 92%;
    width:100%;
}

.bar-button-clear-ios, .bar-button-default.bar-button-ios-clear, .bar-button-clear-ios-clear {
    color: #000;
    background-color: transparent;
}
.list-ios {
    margin: -1px 0 32px;
    position: absolute;
    z-index: 9999;
}
ion-icon.icon.icon-md.ion-md-arrow-back{
     background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    padding-top: 5px;
}

.searchbar-clear-icon {
    height: 100% !important;
}
}
